.bal-card{
padding: 2.5%;
}
.bal-card h6{
    color: rgb(46, 63, 55);
    font-weight: bold;
    font-size: large;
}
.card-num{
font-size: medium !important;
color: silver !important;
}
.widthdraw-btn{
    height: 8vh;
    width: 12rem;
}
.my-acc-tit{
    color: silver !important;
}
.av-bal{
    color: silver !important
}
.bal-num{
    font-weight: bolder;
    float: right !important;
    margin-left: auto;
    // font-size: x-large !important;

}
.rccs__card--unknown > div {
	background: #75c9a5;
}
.tra-tit{
    color: silver;
    font-weight: bold;
}
.from{
    color: silver;
    font-size: 2em;
}
.to{
    color: silver;
    font-size: 2em;
}
.name{
    font-size: medium;
}
.for-amount{
    height: 8vh;
    border-radius: 25px;
    font-size: 25px;
}